# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\joluw\OneDrive - Dublin City University\Documents\ds_projects\web_scraping\cs_circles_scrape\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
